* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    position: relative;
    width: 100%;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(img/) no-repeat;
    background-position: center;
    background-size: cover;
    background-color: antiquewhite;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    color: black;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}
header .navigation a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}
header .navigation a:not(:last-child){
    margin-right:30px
}
header .navigation a:hover{
    background-color: #fff;
} 
.content{
    max-width: 650px;
    margin: 60px 100px;
}
.content .info h2{
    font-size: 55px;
    text-transform: uppercase;
}